.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  width: 200px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.product-card h2 {
  font-size: 1.5em;
  /* margin-bottom: 8px; */
}

.product-card p {
  margin: 4px 0;
}

.product-card button {
  margin-top: 12px;
  padding: 8px 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.product-card button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.product-bread-crumb {
  font-size: 0.9em;
  margin: 0;
  margin-top: 8px;
  border: 1px solid;
  padding: 4px 8px;
  color: white
}

.in-stock {
  background-color: green;
}

.out-of-stock {
  background-color: #ccc;
}

.card-header {
  font-weight: bold;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}