.container{
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.container h1{
    text-align: center;
    margin-bottom: 30px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.filters{
    margin: 20px;
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}